{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
</head>

<body>
<div class="container">
    <!-- Static navbar -->

    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header hidden-sm hidden-xs">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}"></a>
            </div>
            <div class="hidden-md hidden-lg" style="-webkit-box-align:center; -webkit-box-pack:center; display:-webkit-box;">
                <img src="{% static 'img/logo.png' %}">
            </div>
            <div id="navbar" class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About us</a></li>
                    <li><a href="{% url 'gallery' %}">Gallery</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="row">
                    <div class="col-md-8 carousel-header">
                        <h1>Convenient Hours</h1>
                        <p>Convenient hours of work for our customers.</p>
                        <p>
                            <button class="btn btn-default">Read more</button>
                        </p>
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs">
                        <img src="{% static 'img/0.png' %}">
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col-md-8 carousel-header">
                        <h1>Low Prices</h1>
                        <p>Service with the best prices.</p>
                        <p>
                            <button class="btn btn-default">Read more</button>
                        </p>
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs">
                        <img src="{% static 'img/1.png' %}">
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col-md-8 carousel-header">
                        <h1>Free Estimate</h1>
                        <p>For a free estimate, simply give us a call at (631) 805 - 7232. Ask for Robert, he will give
                            you all answers.</p>
                        <p>
                            <button class="btn btn-default">Read more</button>
                        </p>

                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs">
                        <img src="{% static 'img/2.png' %}">
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col-md-8 carousel-header">
                        <h1>Best Quality</h1>
                        <p>High quality workmanship and professionalism is our main objective.</p>
                        <p>
                            <button class="btn btn-default">Read more</button>
                        </p>
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs">
                        <img src="{% static 'img/3.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block content %} {% endblock %}

    <hr class="sep2">

    <div class="row">
        <div class="col-md-1 col-sm-3 col-xs-3">
            <img src="{% static 'img/toolbox.jpg' %}">
        </div>
        <div class="col-md-3  col-sm-9 col-xs-9 footnote-title">
            Explore our services
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 footnote-menu">
            <ul>
                <li><a href="{% url 'services' %}">Kitchen</a></li>
                <li><a href="{% url 'services' %}">Bathrooms</a></li>
                <li><a href="{% url 'services' %}">Electric</a></li>
                <li><a href="{% url 'services' %}">Doors & Windows</a></li>
                <li><a href="{% url 'services' %}">Roofing</a></li>
                <li><a href="{% url 'services' %}
                ">And more</a></li>
            </ul>
        </div>
    </div>

    <div class="row footer">
        <div class="col-md-9 col-sm-9 col-xs-9">
            <p>Copyright © 2013 Handyman After Hours, All Rights Reserved</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
            <span class="r-logo">R</span><span class="g-logo">G</span><span class="b-logo">B</span> NewYork Inc.
        </div>
    </div>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>
</html>
