{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="column-title">Contact</h3>
            <hr class="sep">
        </div>
    </div>
    <div class="row hidden-md hidden-lg">
        <div class="col-md-12">
            <p>For a free estimate, simply give us a call at <a href="tel://6318057232">631 805 7232</a> (please ask for Robert)</p>
        </div>
    </div>

    <div class="row hidden-sm hidden-xs">
        Todo
    </div>
{% endblock %}