{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h3 class="column-title">Welcome to our website</h3>
            <hr class="sep">
            <p>
                Welcome to Handyman After Hours, a website where everyone feels cheerfully welcomed.
                Our company name is not just a made up phrase, but it is in fact "after hours" when we
                can most effectively serve you and it is the most convenient for our friendly customers.
                Handyman After Hours is a service with the best prices, high quality workmanship and professionalism is
                our main objective.</p>
            <p>We operate in the vicinity of Long Island and are continuously increasing our services.</p>
            <p>
                <button class="btn btn-default">Learn more</button>
            </p>
        </div>
        <div class="col-md-4">
            <h3 class="column-title">Our benefits</h3>
            <hr class="sep">
            <p class="p1">Free estimate</p>
            <p class="p1">Best quality</p>
            <p class="p1">Low prices</p>
            <p class="p1">Convenient hours</p>
        </div>
        <div class="col-md-4">
            <h3 class="column-title">Gallery</h3>
            <hr class="sep">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <a href="{{ photos.0.thumbnail.url }}" target="_blank"><img src="{{ photos.0.thumbnail.tiny.url }}" class="thumbimage"></a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <a href="{{ photos.1.thumbnail.url }}" target="_blank"><img src="{{ photos.1.thumbnail.tiny.url }}" class="thumbimage"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <a href="{{ photos.2.thumbnail.url }}" target="_blank"><img src="{{ photos.2.thumbnail.tiny.url }}" class="thumbimage"></a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <a href="{{ photos.3.thumbnail.url }}" target="_blank"><img src="{{ photos.3.thumbnail.tiny.url }}" class="thumbimage"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}