{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="column-title">Services</h3>
            <hr class="sep">
        </div>
    </div>
    <div class="row hidden-md hidden-lg">
        <div class="col-md-12">
            <p class="p1">Kitchen</p>
            <p class="p1">Bathrooms</p>
            <p class="p1">Electric</p>
            <p class="p1">Doors & Windows</p>
            <p class="p1">Roofing</p>
            <p class="p1">Plumbing</p>
            <p class="p1">Lighting</p>
            <p class="p1">Stucco</p>
            <p class="p1">Painting</p>
            <p class="p1">Tile work</p>
            <p class="p1">Siding</p>
            <p class="p1">Sheetroock</p>
            <p class="p1">Mouldings</p>
            <p class="p1">Stones</p>
        </div>
    </div>

    <div class="row hidden-sm hidden-xs">
        <div class="col-md-12">
            TODO
        </div>
    </div>
{% endblock %}