.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.carousel-inner {
    background-image: url('../img/sliderbg.jpg');
    height: 300px;
}

.carousel {
    height: 300px;
}