.thumbimage {
    height: 108px;
    margin-top: 5px;
}

hr.sep {
    background-color: #ff8f36;
    height: 6px;
    margin-top: 0 !important;
}

hr.sep2 {
    background-color: #a5a4a4;
    height: 3px;
    margin-bottom: 5px;
}

h3.column-title {
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

.benefits {
    list-style-image: url('../img/p1.png');
}

.benefits li {
    font-size: 16px;
    color: #a5a4a4;
    text-transform: uppercase;
    cursor: default;
    letter-spacing: 2px;
}

.p1 {
    height: 50px;
    background: url(../img/p1.png) no-repeat left top;
    margin: 10px 0 0 0px;
    padding: 15px 0 0 60px;
    font-size: 16px;
    color: #a5a4a4;
    text-transform: uppercase;
    cursor: default;
    letter-spacing: 2px;
}

.footnote-title {
    font-size: 18px;
    font-weight: bold;
    height: 70px;
    padding-top: 26px;
}


.footnote-menu {
    height: 50px;
    border-radius: 7px;
    margin-top: 15px;
    background-color: #e3e3e3;
}


@media only screen and (max-width: 642px) {
    .footnote-menu {
        height: 70px;
    }
}


@media only screen and (max-width: 360px) {
    .footnote-menu {
        height: 90px;
    }
}

@media only screen and (max-width: 280px) {
    .footnote-menu {
        height: 110px;
    }
}

.footnote-menu ul {
    padding: 16px 0 0 0;
}

.footnote-menu ul li {
    display: inline;
}

.footnote-menu ul li a {
    color: #696969;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 15px;
}

.footnote-menu ul li a:hover {
    color: black;
}

.footer {
    margin-top: 10px;
    background-color: #e3e3e3;
    border-radius: 7px;
}

.footer div {
    padding-top: 7px;
    color: #696969;
    font-size: 14px;
}

.r-logo {
    color: #fff;
    padding: 1px 4px 0 3px;
    background: red;
    -ms-border-radius: 3px 3px 3px 3px;
    margin-right: 4px;
    -moz-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    -moz-box-shadow: inset 0 0 2px #000;
    -webkit-box-shadow: inset 0 0 2px #000;
    box-shadow: inset 0 0 2px #000;
}

.g-logo {
    color: #fff;
    padding: 1px 4px 0 3px;
    background: green;
    -ms-border-radius: 3px 3px 3px 3px;
    margin-right: 4px;
    -moz-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    -moz-box-shadow: inset 0 0 2px #000;
    -webkit-box-shadow: inset 0 0 2px #000;
    box-shadow: inset 0 0 2px #000;
}

.b-logo {
    color: #fff;
    padding: 1px 4px 0 3px;
    background: blue;
    -ms-border-radius: 3px 3px 3px 3px;
    margin-right: 4px;
    -moz-border-radius: 2px 2px 2px 2px;
    -o-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    -moz-box-shadow: inset 0 0 2px #000;
    -webkit-box-shadow: inset 0 0 2px #000;
    box-shadow: inset 0 0 2px #000;
}


.carousel-header h1, .carousel-header p {
    margin-left: 10px;
    color: white;
}

.carousel-header h1 {
    font-size: 66px;
    font-weight: 700;
}

.carousel-header p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.carousel-header button {
    border-radius: 30px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border: 8px solid rgba(255,255,255,0.8);
	padding: 2px 20px 0px;
	font-size: 17px;
	line-height: 30px;
	width: 185px;
	text-align: center;
	background: rgba(255,255,255,0.2);
}

.navbar-nav > li {
	float: left;
	margin-right: 35px;
}

.navbar-nav > li > a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    display: block;
    background: none;
    color: #e0a434;
    padding: 5px 10px;
    border: none;
    position: relative;
    top: 1px;
}

@media only screen and (max-width: 800px) {
    .navbar-brand > img {
        display: none;
    }

    .navbar-nav > li {
        float: left;
        width: auto;
        margin-right: 0;
    }
}


@media only screen and (max-width: 452px) {
    .navbar-nav > li > a {
        font-size: 10px;
    }
}