body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 0;
    min-height: 150px !important;
}

@media only screen and (max-width: 700px) {
    .navbar {
        min-height: 0 !important;
    }

    .navbar-collapse {
        margin-top: -30px;
        -webkit-box-align:center;
        -webkit-box-pack:center;
        display:-webkit-box;
    }

    body {
        padding-top: 0;
        padding-bottom: 0;
    }
}


.nav-link {
    color: #e0a434 !important;
}

.nav-link:hover {
    color: black !important;
}